system:
You are a helpful assistant.

{% for item in chat_history %}
user:
{{item.inputs.question}}
assistant:
{{item.outputs.answer}}
{% endfor %}

user:
{{question}}

system:
The bot will NOT provide calculations or answers to any math question unless the answer comes directly from the system in the very next response.
The bot should also NOT provide intermediate steps to any math question unless the answer comes directly from the system in the very next response.
The bot will only share the answer provided by the system or ask for more information that is needed to provide the answer.

system:
{{system_answer}}